{% extends 'base.html' %}

{% block content %}

    <h1>Query Data</h1>

    <form method="post" action="{{ url_for('movie_data') }}">

        <label>Search Term:</label>
        <input type="text" name="name" id="search_term" placeholder="Enter movie name">

        {#        <label>actor:</label>#}
        {#        <input type="text" name="actor" placeholder="Enter movie actor">#}
        {##}
        {#        <label>director:</label>#}
        {#        <input type="text" name="director" placeholder="Enter movie director">#}

        <label>country:</label>
        <input type="text" name="country" placeholder="Enter movie country">
        <br>
        <label>data:</label>
        <input type="date" name="startDate">-<input type="date" name="endDate">


        <label>type:</label>
        <input type="text" name="type" placeholder="Enter movie type">

        {#        <label>film_format:</label>#}
        {#        <input type="text" name="film_format" placeholder="Enter movie film format">#}
        {##}
        {#        <label>company:</label>#}
        {#        <input type="text" name="company" placeholder="Enter movie company">#}

        <br>

        <label>box:</label>
        <input type="number" name="start_box">-<input type="number" name="end_box">


        <!--        {#        <label #}-->
        <input class="btn" type="submit" name="submit" value="Search">
    </form>
    <div>
        <form method="post" action="{{ url_for('data') }}">
            <label>
                <input type="radio" name="option" value="country"> country
            </label>

            <label>
                <input type="radio" name="option" value="release_date"> release_date
            </label>

            <label>
                <input type="radio" name="option" value="type"> type
            </label>

{#            <label>#}
{#                <input type="radio" name="option" value="film_format"> film_format#}
{#            </label>#}

            <button type="submit">generate</button>


            <h2>Results</h2>
            {% if movies %}
                <table>
                    <thead>
                    <tr>
                        <th><button type="button" onclick="toggleSelectAll()">Select All</button></th>
                        <th>Name</th>
                        <th>country</th>
                        <th>Release Date</th>
                        <th>type</th>
                        {#                <th>film_format</th>#}
                        {#                <th>company</th>#}
                        <th>box</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td><input type="checkbox" name="ids" value="{{ movie.id }}"></td>
                            <td>{{ movie.name }}</td>
                            <td>{{ movie.country.split('/')[0] if movie.country else '未知' }}</td>
                            <td width="200">{{ movie.release_date.strftime('%Y-%m-%d') if movie.release_date else 'N/A' }}</td>
                            <td>{{ movie.type }}</td>
                            {#                    <td width="200">{{ movie.film_format }}</td>#}
                            {#                    <td>{{ movie.company.split('/')[0] if movie.company else '未知' }}</td>#}
                            <td>{{ movie.box }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </form>
                </div>
            {% else %}
                <p>No movies found.</p>
            {% endif %}

{% endblock %}


